[user]
	name = yukung
	email = yukung.i@gmail.com
[color]
	ui = auto
[core]
	autocrlf = input
	excludesfile = /Users/a12323/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/Caskroom/sourcetree/1.9.6/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[alias]
	ci = commit
	co = checkout
	st = status
	br = branch
	hist = log --pretty=\"format:%C(White)%ad %C(yellow)%h %C(Red)(%an): %C(White)%s\" --graph --date=short
	ig = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
