[user]
	name = yukung
	email = yukung.i@gmail.com
[color]
	ui = auto
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
[alias]
	ci = commit
	co = checkout
	st = status
	br = branch
	hist = log --pretty=\"format:%C(White)%ad %C(yellow)%h %C(Red)(%an): %C(White)%s\" --graph --date=short
	ig = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[interactive]
	diffFilter = diff-highlight
[diff]
	compactionHeuristic = true
[ghq]
	root = ~/src
