[user]
	name = yusuiked
	email = yukung.i@gmail.com
[color]
	ui = auto
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
[alias]
	ci = commit
	co = checkout
	sw = switch
	rst = restore
	st = status
	br = branch
	hist = log --pretty=\"format:%C(White)%ad %C(yellow)%h %C(Red)(%an): %C(White)%s\" --graph --date=short
	ig = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
	cbr = "!f() { git branch --merged | egrep -v '^\\*|\\<develop\\>|\\<master\\>|\\<main\\>' | xargs git branch -d ;}; f"
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[interactive]
	diffFilter = diff-highlight
[diff]
	compactionHeuristic = true
[ghq]
	root = ~/src
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[includeIf "gitdir:~/src/github.com/heyinc/"]
	path = ~/.gitconfig_office
[pull]
	ff = only
	rebase = false
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
